= form_for @patient do |f|
  - if @patient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@patient.errors.count, "error")} prohibited this patient from being saved:"
      %ul
        - @patient.errors.full_messages.each do |message|
          %li= message
  %h3.top-space Datos generales
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.text_field :first_name, class: 'mdl-textfield__input'
    = f.label 'Nombres', class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.text_field :last_name, class: 'mdl-textfield__input'
    = f.label 'Apellidos', class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.text_field :address, class: 'mdl-textfield__input'
    = f.label 'Direccion', class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.number_field :age, class: 'mdl-textfield__input'
    = f.label 'Edad', class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    %label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect{for:'masculino'}
      =f.radio_button :sex, 'Masculino', :checked => true, id:"masculino"
      %span.mdl-radio__label Masculino
    %label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect{for: 'femenino'}
      =f.radio_button :sex, 'Femenino', :checked => true, id:"femenino"
      %span.mdl-radio__label Femenino
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.text_field :country, class: 'mdl-textfield__input'
    = f.label 'Pais', class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.text_field :city, class: 'mdl-textfield__input'
    = f.label 'Ciudad/Departamento', class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.email_field :email, class: 'mdl-textfield__input'
    = f.label 'Correo electronico', class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.text_field :phone, class: 'mdl-textfield__input'
    = f.label 'Telefono', class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.text_field :state, class: 'mdl-textfield__input'
    = f.label 'Estado', class: 'mdl-textfield__label'
  %h3.top-space Cuadro Clinico
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.number_field :weight, class: 'mdl-textfield__input'
    = f.label 'Peso', class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.text_field :size, class: 'mdl-textfield__input'
    = f.label 'Talla', class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.text_area :allergies, class: 'mdl-textfield__input'
    = f.label 'Alergias', class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.text_area :medicines, class: 'mdl-textfield__input'
    = f.label 'Medicinas', class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.medium-width
    = f.text_area :diseases, class: 'mdl-textfield__input'
    = f.label 'Enfermedades', class: 'mdl-textfield__label'
  .actions.text-right.right-space
    = link_to 'Volver a la lista', patients_path
    = f.submit 'Guardar', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'
