= form_for @appointment do |f|
  - if @appointment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@appointment.errors.count, "error")} prohibited this appointment from being saved:"
      %ul
        - @appointment.errors.full_messages.each do |message|
          %li= message
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.full-width
    =f.collection_select :patient_id, @patients, :id, :last_name, {selected: @appointment.patient_id, include_blank: false}
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.full-width
    = f.date_select :date, class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.full-width
    = f.time_select :hour,  class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.text_area :annotations, class: 'mdl-textfield__input'
    = f.label 'Anotaciones', class: 'mdl-textfield__label'
  .actions.text-right
    = link_to 'Regresar a la lista', appointments_path
    = f.submit 'Guardar', class: 'mdl-button mdl-js-button mdl-button--raised mdl-ripple-effect mdl-button--colored'

