.row.center-xs.large-padding
	.col-xs-12.col-sm-8.col-lg-6
		.box.mdl-shadow--2dp.white.relative.add_padding
			.actions.absolute
				=link_to 'Editar', edit_appointment_path(@appointment)
			%h3.underline
				= link_to @appointment.patient.first_name, @appointment.patient
				= link_to @appointment.patient.last_name, @appointment.patient
			.text-center
				%p.big-font
					Fecha:
					%strong= @appointment.date
				%p.big-font
					Hora:
					%strong= @appointment.hour.strftime('%H:%M')
			.top-space
				%p= @appointment.annotations
			
			=link_to 'Regresar a la lista', appointments_path, class: 'mdl-button mdl-js-button mdl-button--accent'
